aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
async-generator==1.10
asyncio==4.0.0
attrs==25.4.0
autopep8==2.3.2
black==25.11.0
blinker==1.9.0
certifi==2025.11.12
charset-normalizer==3.4.4
clashroyale==4.0.1
click==8.3.1
flake8==7.3.0
Flask==3.1.2
frozenlist==1.8.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mccabe==0.7.0
multidict==6.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.1
propcache==0.4.1
pycodestyle==2.14.0
pyflakes==3.4.0
python-box==7.3.2
pytokens==0.3.0
requests==2.32.5
typing_extensions==4.15.0
urllib3==2.6.0
Werkzeug==3.1.4
yarl==1.22.0
